<div class="aside">
    <div class="profile">
        <img class="avatar" src="/assets/img/default.png">
        <h3 class="name">管理员</h3>
    </div>
    <ul class="nav">
        <li <%=current==='index'?'class=active':''%>  >
            <a href="/"><i class="fa fa-dashboard"></i>仪表盘</a>
        </li>
        <li <%=current==='races'?'class=active':''%> >
            <a href="/races"><i class="fa fa-list"></i>所有比赛</a>
        </li>
        <li <%=current==='addrace'?'class=active':''%> >
            <a href="/addrace"><i class="fa fa-address-book"></i>添加比赛</a>
        </li>
        <li <%=current==='teams'?'class=active':''%>>
            <a href="/teams"><i class="fa fa-users"></i>参赛队伍</a>
        </li>
        <li <%=current==='comments'?'class=active':''%>>
            <a href="/comments"><i class="fa fa-comments"></i>评论内容</a>
        </li>
        <li>
            <a href="/"><i class="fa fa-address-card"></i>用户信息</a>
        </li>
    </ul>
</div>
<script src="/assets/vendors/jquery/jquery.min.js"></script>
<script src="/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendors/art-template/template-web.js"></script>
<script>NProgress.done()</script>
